PORT=3033
DB_USER_MONGO=brolydev
DB_KEY_MONGO=***********
DB_HOST_MONGO=***********
DB_CONTAINER_NAME_MONGO=***********
DB_COLLECTION_NAME_MONGO=bdscaseritadev
CATALOG_TTL_MS=1 * 60 * 1000
GOOGLE_MAPS_API_URL=https://maps.googleapis.com/maps/api
GOOGLE_MAPS_API_KEY=***********